.profit-label {
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: black;
  line-height: 20px;
}
.profit-value {
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: white;
  line-height: 20px;
  background-color: black;
  width: fit-content;
  border-radius: 15px;
  padding: 10px;
}
.profit-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.486);
  padding-bottom: 20px;
}
.profit-item:last-child {
  border-bottom: none;
}
.class-profit-complete-section {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to top, #fdbd5e3d, #ff990065);
  border-radius: 10px;
  padding: 32px 15px 15px 15px;
  gap: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 40px;
}
