.live-steam-onlu {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: black;
  padding: 15px;
}
.live-stream-oracle {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: black;
  padding: 15px;
}
