.broad-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffe9c865;
  height: 100vh;
}
.broad-heading {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
}
.broad-heading h2 {
  font-weight: 600;
  font-size: 45px;
  line-height: 50px;
  font-family: "Poppins", sans-serif;
  color: #ff9700;
}
.broad-container-full {
  width: 95%;
  /* background-color: lime; */
  max-width: 1440px;
}
.send-heading {
  width: 100%;
  /* background-color: yellow; */
}
.btn-head-set {
  width: 100%;
  margin-top: 25px;
}
.btn-head-set button {
  font-weight: 500;
  font-size: 20px;
  line-height: 50px;
  font-family: "Poppins", sans-serif;
  color: white;
  height: 55px;
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #ff9700;
}
.send-container textarea {
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.267);
  border-radius: 10px;
  height: 300px;
  padding-left: 10px;
  padding-top: 10px;
  outline: none !important;
}
.send-container {
  width: 100%;
  margin-top: 30px;
}
.image-picker input:hover {
  padding: 0;
  border-radius: 0;
}
.button-container {
  width: 100%;
  /* background-color: yellow; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
}
.button-container button {
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  font-family: "Poppins", sans-serif;
  color: white;
  height: 40px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  background-color: #ff9700;
}
.image-picker {
  width: 100%;
  margin-top: 10px;
}
.image-picker input {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  font-family: "Poppins", sans-serif;
}
@media only screen and (max-width: 899px) {
  .broad-container {
    margin-top: 50px;
    padding-bottom: 30px;
    /* height: auto; */
  }
}
@media only screen and (max-width: 400px) {
  .button-container {
    justify-content: space-evenly;
  }
}
@media only screen and (max-width: 600px) {
  .broad-heading h2 {
    font-size: 30px;
  }
}
.spinner-set {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #ff9700;
  animation: spinner-a4dj62 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: spinner-a4dj62 2s infinite;
}

.spinner::after {
  margin: 8px;
  animation-duration: 3s;
}

@keyframes spinner-a4dj62 {
  100% {
    transform: rotate(1turn);
  }
}
