.dashboard-container {
  width: 100%;
  background-color: #ffe9c865;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  padding-bottom: 6%;
  height: 100%;
}
.heading-contained {
  width: 100%;
  /* background-color: orange; */
  margin-top: 30px;
  margin-bottom: 10px;
}
.heading-contained h2 {
  font-weight: 500;
  font-size: 50px;
  line-height: 50px;
  font-family: "Poppins", sans-serif;
  color: black;
}
.dashboard-container-contained {
  width: 95%;
  max-width: 1440px;
}
.table-heading-set {
  background-color: #ff9700;
  border-radius: none !important;
}
.table-cell {
  color: black !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: 600 !important;
  font-size: 17px !important;
  width: 20% !important;
  /* background-color: lime !important; */
}
.table-cell1 {
  color: #ff9700 !important;
}
.table-cell-set {
  color: rgba(17, 16, 16, 0.87) !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: 500 !important;
  font-size: 15px !important;
}
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #adb5bd;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.27em;
  bottom: 0.25em;
  background-color: #adb5bd;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #ff9700;
  border: 1px solid #ff9700;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ff9700;
}

input:checked + .slider:before {
  transform: translateX(1.4em);
  background-color: #fff;
}
.pagination-sett {
  background-color: white;
}
/* From uiverse.io by @alexruix */
.input {
  line-height: 28px;
  border: 2px solid transparent;
  border-bottom-color: #777;
  padding: 0.2rem 0;
  outline: none;
  background-color: transparent;
  color: #0d0c22;
  transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 40.5%;
}

.input:focus,
input:hover {
  outline: none;
  padding: 0.7rem 2rem;
  border-radius: 2rem;
  border-color: #777;
}

.input::placeholder {
  color: #777;
}

.input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s;
}
.input-set-contained {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}

.btn-controller button {
  width: 80px;
  height: 40px;
  color: white;
  font-size: 14px;
  line-height: 25px;
  font-weight: 500;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  text-decoration: none !important;
  background-color: #464849;
  border-radius: 15px;
}
.btn-controller button:hover {
  background-color: #ff9700;
  color: black;
  transition: background-color 0.3s ease;
}
@media only screen and (max-width: 899px) {
  .heading-contained {
    margin-top: 100px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 979px) {
  .table-cell {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 700px) {
  .scroll-table {
    overflow: scroll !important;
    /* max-height: 400px !important; */
    width: 100% !important;
    max-width: 1800px !important;
  }
  .btn-controller {
    width: 100px !important;
  }
  .table-cell {
    /* font-size: 10px !important; */
  }
  .input-set-contained input {
    width: 65%;
  }
}
@media only screen and (max-width: 400px) {
  .input-set-contained input {
    width: 80%;
  }
}
