.media-item video {
  width: 100%;
  height: 450px;
  border-radius: 10px;
}
.media-item img {
  width: 100%;
  height: 450px;
  border-radius: 10px;
  object-fit: cover;
}
.post-container-oracle-main {
  width: 48%;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* background-color: lime; */
}
.posts-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* background-color: peru; */
  gap: 5px;
}
.post-usernam-text {
  font-size: 25px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: black;
  line-height: 30px;
}
.postuser-name-uername {
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: black;
  line-height: 20px;
  background-color: #ff9700;
  width: fit-content;
  padding: 7px;
  border-radius: 5px;
  display: block;
  word-break: break-all;
  overflow-wrap: break-word;
}
.post-user-oracle-setting {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.post-user-oracle-setting-com {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
}
.accept-post-buttonn {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.accept-post-buttonn button {
  width: fit-content;
  height: 40px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: black;
  padding: 0 10px;
}
.no-reel-related {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: black;
}

.heading-sections-ommm {
  font-size: 15px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: rgb(0, 0, 0);
  width: fit-content;
  border-radius: 10px;
  padding: 8px;
}
.heading-container-headinffff {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1100px) {
  .post-container-oracle-main {
    width: 100%;
  }
  .posts-container {
    gap: 20px;
  }
}
@media screen and (max-width: 600px) {
  .media-item video {
    height: 100%;
  }
  .media-item img {
    height: 100%;
  }
}
