.amount-gained {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 20px;
  color: black;
}
.center-aligned-set {
  flex-direction: column;
  align-items: start;
}
.cards .blackket-super {
  height: fit-content;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 10px;
  padding-right: 10px;
}
.current-amiount-currently {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cent {
  background-color: blue;
  width: fit-content;
  height: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}
.current-amiount-currently-full {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}
