.scroll-table {
  /* max-height: 100rem; */
  overflow-y: auto;
  background-color: transparent !important;
  padding-left: 3rem !important;
  padding-right: 3rem !important;
  background-image: linear-gradient(
    135deg,
    var(--black) 0%,
    var(--grey) 100%
  ) !important;
  border-radius: 1.8rem !important;
  padding-top: 2.3rem !important;
  margin-bottom: 2.5rem !important;
  margin-top: 1.5rem !important;
}
.css-11xur9t-MuiPaper-root-MuiTableContainer-root {
  border: 0.2rem solid var(--orange);
}
.css-1ex1afd-MuiTableCell-root {
  border-bottom: none !important;
  padding-top: 1.4rem !important;
  padding-bottom: 1.4rem !important;
}
.css-1ygcj2i-MuiTableCell-root {
  border-bottom: none !important;
}
.css-13xy2my {
  border: 0.2rem solid var(--orange);
}
.css-1bigob2 {
  border-bottom: none !important;
}
.table-cell-set {
  font-size: 2rem !important;
  color: var(--white) !important;
}
.css-q34dxg {
  border-bottom: none !important;
  padding-top: 1.4rem !important;
  padding-bottom: 1.4rem !important;
}
.css-15wwp11-MuiTableHead-root {
  position: relative;
}
.css-15wwp11-MuiTableHead-root::after {
  content: "";
  position: absolute;
  top: 0.7rem;
  left: 0;
  width: 100%;
  height: 4.1rem;
  background-color: #ff9700;
  z-index: -1;
  border-radius: 1.2rem;
}

.css-1wbz3t9 {
  position: relative;
}
.css-1wbz3t9::after {
  content: "";
  position: absolute;
  top: 0.7rem;
  left: 0;
  width: 100%;
  height: 4.1rem;
  background-color: #ff9700;
  z-index: -1;
  border-radius: 1.2rem;
}

.table-cell {
  color: var(--orange) !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700 !important;
  font-size: 2.2rem !important;
}

/* .scroll-continue-para {
  max-height: 100rem;
} */
.scroll-continue-para::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}

.scroll-continue-para::-webkit-scrollbar-thumb {
  background-color: #ff9700;
  border-radius: 0.4rem;
  height: 2.5rem;
}

.scroll-continue-para::-webkit-scrollbar-track {
  background-color: #ff99004b;
}
.complete-table-nice {
  width: 100%;
}
.complete-table-nice th{
  line-height: 25px !important;
}