.clip-conut {
  background-color: #0a0a0a6c;
  width: fit-content;
  height: fit-content;
  padding: 8px;
  border-radius: 10px;
  color: white;
}
.red-red-set {
  background-color: #ff9700;
  cursor: pointer;
}
.overtime {
  background-color: transparent;
  color: black;
}
.grey-color {
  background-color: rgba(0, 0, 0, 0.699);
  width: 115px;
  height: fit-content;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 10px;
  text-align: center;
  color: white;
}
.oper-cer {
  max-height: 500px;
}
.lemid-text-set {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  color: black;
  line-height: 25px;
  font-weight: 500;
}
.lemid-text-sett {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.836);
  line-height: 25px;
  font-weight: 500;
  display: block;
  word-break: break-all;
  overflow-wrap: break-word;
}
.lemid-container-lemid {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.lemid-container-lemid-main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
}
.crip-lemid {
  display: flex;
  justify-content: end !important;
  align-items: center;
}
